**/.DS_Store
**/Brewfile.lock.json
**/packer_compiled.lua
**/stow/tmux/tmux/plugins
**/stow/cheat/cheat/cheatsheets/community
**/stow/karabiner/karabiner/automatic_backups
**/stow/raycast/raycast/extensions
**/stow/zsh.d/dot-zsh.d/_podman
**/stow/zsh.d/dot-zsh.d/_tailscale

**/stow/bin/bin/*
!**/stow/bin/bin/.keep
!**/stow/bin/bin/cht.sh
!**/stow/bin/bin/fzf-bookmarks.sh
!**/stow/bin/bin/hg
!**/stow/bin/bin/kitty.sh
!**/stow/bin/bin/open-screenshot-view.sh
!**/stow/bin/bin/pass.sh
!**/stow/bin/bin/scanport
!**/stow/bin/bin/t.sh
!**/stow/bin/bin/tmux-cht-languages.txt
!**/stow/bin/bin/tmux-cht.sh
!**/stow/bin/bin/vidthumb
