**/.DS_Store
**/Brewfile.lock.json
**/packer_compiled.lua
macos/stow/tmux/tmux/plugins
macos/stow/cheat/cheat/cheatsheets/community
macos/stow/karabiner/karabiner/automatic_backups
macos/stow/raycast/raycast/extensions

macos/stow/bin/bin
!macos/stow/bin/bin/cht.sh
!macos/stow/bin/bin/fzf-bookmarks.sh
!macos/stow/bin/bin/hg
!macos/stow/bin/bin/kitty.sh
!macos/stow/bin/bin/open-screenshot-view.sh
!macos/stow/bin/bin/pass.sh
!macos/stow/bin/bin/scanport
!macos/stow/bin/bin/t.sh
!macos/stow/bin/bin/tmux-cht-languages.txt
!macos/stow/bin/bin/tmux-cht.sh
!macos/stow/bin/bin/vidthumb
